.myPic {
  height: 200px;
  width: auto;
  float: left;
  padding-right: 10px;
}
body {
  background-color: gray;
}
.aboutMeDiv {
  background-color: white;
}
nav {
  min-height: 8vh;
}
.container {
  margin-top: 40px;
  min-height: 82vh;
}
footer {
  min-height: 10vh;
}
.myFooter {
  width: 100%;
  height: 40px;
  text-align: center;
  color: white;
}
.portfolioPic1 {
  background-color: brown;
  height: 150px;
  width: 100%;
  margin: 4px;
}
.portfolioPic2 {
  background-color: cyan;
  height: 150px;
  width: 100%;
  margin: 4px;
}
.projectText {
  text-align: center;
  background-color: grey;
  position: relative;
  top: 100px;
}
